@font-face {
    
    font-family: 'StaffMeetingPlain';
    src: url(../assets/font/StaffMeetingPlain.ttf) format('truetype');
}

html{

    scroll-behavior: smooth;
}

.container{

    margin: 5%;
    padding: 5%;
}

.cabecalho{

    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
    padding: 5%;
}

.cabecalho__titulo{
    
    font-family: 'StaffMeetingPlain';
    font-size: 3rem;
    text-align: center;
    color: white;
}

.cabecalho__imagem{
    
    max-width: 75%;
    height: auto
}

.principal{
    
    background: lightgray;
    border: 2px solid #000000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.principal__titulo{

    font-family: 'StaffMeetingPlain';
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: 0.5rem;
    text-align: center;
}

.principal__botao{
    
    align-self: center;
    appearance: none;
    background-color: #e74c3c;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.episodio-gerado{

    align-items: center;
    border-top: 1px solid lightgrey;
    display: flex;
    flex-flow: column wrap;
    padding: 3%;
}

.episodio-gerado__titulo{

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.episodio-gerado__imagem{

    height: auto;
    max-width: fit-content;
    padding: 1rem 0;
    width: 100%;
}

.episodio-gerado__descricao{

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: justify;
}

/* tablets */

@media screen and (min-width: 768px) {
    
    .principal__titulo{

        font-size: 1.5rem;
    }

    .cabecalho{
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .episodio-gerado__descricao{

        text-align: center;
    }
}

/* desktop */

@media screen and (min-width: 1024px) {

    .principal{

        margin: 5% 15%;
    }

    .principal__botao{
    
        box-sizing: border-box;
        appearance: none;
        background-color: transparent;
        border: 2px solid #e74c3c;
        border-radius: 0.6em;
        color: #e74c3c;
        cursor: pointer;
        display: flex;
        align-self: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        margin: 20px;
        padding: 1.2em 2.8em;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }
    
    .principal__botao:hover{
    
        color: #fff;
        outline: 0;
    }
    
    .principal__botao:focus{
    
        color: #fff;
        outline: 0;
    }
    
    .principal__botao--transicao {
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
        
    }
    
    .principal__botao--transicao:hover {
    
        box-shadow: 0 0 40px 40px #e74c3c inset;
    }

    .episodio-gerado{

        margin: 2%;
        padding: 2%;
    }

    .episodio-gerado__titulo{

        font-size: 2rem;
    }
    
    .episodio-gerado__imagem{

        width: 75%;
        padding: 2rem 0;
    }

    .episodio-gerado__descricao{

        font-size: 1.5rem;
    }
}